*{
    padding: 0;
    margin: 0;
}

:root{
    --primary: #0B0B0D;
    --secondary: #6BB39B;
    --terciary: #85E6C0;
    --fourth: #DAF3EA;
    --fifth: #D7F4E8;
}

body{
    background-color: var(--secondary);
}

.vh-10{
    margin-top: 100px;
}

.shadow-lg{
    padding: 50px;
    background-color: var(--primary);
    color: white;
}

.w-100{
    background-color: var(--secondary) !important;
}

.w-100:hover{
    background-color: var(--terciary) !important;
    color: var(--primary);
}

.fw-bold{
    color: var(--terciary);
}