*{
    padding: 0;
    margin: 0;
}

:root{
    --primary: #0B0B0D;
    --secondary: #6BB39B;
    --terciary: #85E6C0;
    --fourth: #DAF3EA;
    --fifth: #D7F4E8;
}

body{
    background-color: var(--secondary);
}

.mt-5{
    border: solid var(--primary) 5px;
    background-color: var(--fourth);
    color: var(--primary);
    padding: 50px;
}

.btn-primary{
    border: solid var(--primary) !important;
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--primary);
}

.btn-secondary{
    border: solid var(--secondary) !important;
    border-radius: 5px;
    background-color: var(--primary);
    color: white;
}
