<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Docs/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/Views/UserDashboard/CSS/styles.css">
    <title>Document</title>
</head>
<body>
    <div class = "cabecero">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <img src="/Media/logo.png" alt="">
                    <div class="LogoCabecero">
                        <div class = LogoTexto>
                            <a class="navbar-brand" href="/Views/UserDashboard/UserStartPage.html">WAVY BEATS</a>
                        </div>
                    </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">hola</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <div class="NavigationButtom">
                            <a class="nav-link" href="/Views/Álbum/ÁlbumList.html">Tus Álbumes</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="NavigationButtom">
                            <a class="nav-link" href="/Views/Álbum/ÁlbumDetail.html">Detalles de Álbum</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="NavigationButtom">
                            <a class="nav-link" href="/Views/Álbum/CreateAndEditÁlbum.html">Crear/Editar Álbum</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="NavigationButtom">
                            <a class="nav-link" href="/Views/Álbum/CreateAndEditSong.html">Crea tu Canción</a>
                        </div>
                    </li>


                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                </div>
            </div>
        </nav>
  </div>








  <div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/Media/carrousel1-1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>- "La música expresa lo que no puede decirse con palabras y lo que no puede permanecer en silencio."</h5>
        <p>Esta frase resalta el poder de la música como un lenguaje universal que transmite emociones profundas más allá de las palabras.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/Media/carrousel1-2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>- "Sin música, la vida sería un error."</h5>
        <p>El filósofo enfatiza cómo la música es esencial para la existencia, añadiendo significado y belleza a la vida</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/Media/carrousel1-3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>- "Donde las palabras fallan, la música habla."</h5>
        <p>Refleja la capacidad de la música para comunicar sentimientos y pensamientos que el lenguaje verbal no siempre logra expresar.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="card-group">
  <div class="card">
    <img src="/Media/card1-1.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Próximos Conciertos y Shows</h5>
      <p class="card-text">Consulta las futuras presentaciones de tu banda favorita</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Próximamente</small>
    </div>
  </div>
  <div class="card">
    <img src="/Media/card1-2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Próximas Giras</h5>
      <p class="card-text">Entérate de cuando tu banda favorita irá a tu país</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Próximamente</small>
    </div>
  </div>
  <div class="card">
    <img src="/Media/card1-3.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Red de Amigos</h5>
      <p class="card-text">Conoce a otros Wavy Beats users y creen su propia música</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Próximamente</small>
    </div>
  </div>
</div>

  <script src="/Docs/JS/bootstrap.min.js"></script>
</body>
</html>